<div class="md-content" class="inset">
    <div layout="column" layout-gt-sm="row">
        <div flex-gt-sm="100">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span jhiTranslate="password.title" translateValues="{username: '{{account.login}}'}" *ngIf="account">Password for [<b>{{account.login}}</b>]</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-subtitle>
                    <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                        <strong>Password changed!</strong>
                    </div>
                    <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error">
                        <strong>An error has occurred!</strong> The password could not be changed.
                    </div>
                    <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                        The password and its confirmation do not match!
                    </div>
                </md-card-subtitle>
                <md-divider></md-divider>
                <md-card-content class="push-bottom-none">
                    <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
                        <!-- New password -->
                        <div layout="row" class="push-top">
                            <md-input-container flex>
                                <input mdInput #passwordInput #passwordControl="ngModel" type="password" placeholder="{{'global.form.newpassword' | translate}}" [(ngModel)]="password" id="password" name="password" required minlength=4 maxlength=50>
                                <md-hint align="start">
                                    <span [hidden]="passwordControl.pristine || !passwordControl.errors?.required" class="tc-red-600" jhiTranslate="global.messages.validate.newpassword.required">
                                        Your password is required.
                                    </span>
                                    <span [hidden]="passwordControl.pristine || !passwordControl.errors?.minlength" class="tc-red-600" jhiTranslate="global.messages.validate.newpassword.minlength">
                                        Your password is required to be at least 4 characters.
                                    </span>
                                    <span [hidden]="passwordControl.pristine || !passwordControl.errors?.maxlength" class="tc-red-600" jhiTranslate="global.messages.validate.newpassword.maxlength">
                                        Your password cannot be longer than 50 characters.
                                    </span>
                                </md-hint>
                                <md-hint align="end">
                                    <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                                </md-hint>
                            </md-input-container>
                        </div>
                        <!-- New password confirmation -->
                        <div layout="row" class="push-top">
                            <md-input-container flex>
                                <input mdInput #confirmPasswordInput #confirmPasswordControl="ngModel" type="password" placeholder="{{'global.form.confirmpassword' | translate}}" [(ngModel)]="confirmPassword" id="confirmPassword" name="confirmPassword" required minlength=4 maxlength=50>
                                <md-hint align="start">
                                    <span [hidden]="confirmPasswordControl.pristine || !confirmPasswordControl.errors?.required" class="tc-red-600" jhiTranslate="global.messages.validate.confirmpassword.required">
                                        Your confirmation password is required.
                                    </span>
                                    <span [hidden]="confirmPasswordControl.pristine || !confirmPasswordControl.errors?.minlength" class="tc-red-600" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                        Your confirmation password is required to be at least 4 characters.
                                    </span>
                                    <span [hidden]="confirmPasswordControl.pristine || !confirmPasswordControl.errors?.maxlength" class="tc-red-600" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                        Your confirmation password cannot be longer than 50 characters.
                                    </span>
                                </md-hint>
                                <md-hint align="end">{{confirmPasswordInput.value.length}} / {{passwordInput.value.length}}</md-hint>
                            </md-input-container>
                        </div>
                    </form>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions>
                    <button md-button color="primary" (click)="changePassword()">
                        <span jhiTranslate="password.form.button">Register</span>
                    </button>
                    <button md-button (click)="goBack()">
                        <span jhiTranslate="entity.action.back">Back</span>
                    </button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>